<% if logged_in? %>
  <h1>Welcome <%= current_user.name %>!</h1>
  <%= render 'shared/feed' %>
<% else %>
  <h1>Welcome to Murator!</h1>
  <p>Don't have an account? <%= link_to "Register here!", new_user_path %></p>
<% end %>