<li id="user-<%= user.id%>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-title">
        <%= link_to user.name, user %> 
      </div>
      <sub>
        has <%= pluralize(user.curation_pages.size, "page") %>
      </sub>
    </div>
  </div>
</li>