<li id="category-<%= category.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel.title">
        <%= link_to category.name, category %>
      </div>
    </div>
  </div>
</li>